*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.stats-container{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #D9F9DF;
    margin-bottom: 15px;
    background-color: #9FA1FF;
    box-shadow:  0px 1px 7px rgba(39, 37, 37, 0.674);
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

.details p{
    margin-top: 0;
    padding: 0;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: #767F9E;
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
    background-color: #AEE2FF;
    border-radius: 5px;
    width: 50%;
    transition: all 0.3s ease;
    width: 0%;
    height: 10px;
    margin-top: 20px;
}

#numbers{
    margin-top: 10px;
    margin-bottom: 10px;
}

#todoInput{
    width: 250px;
    height: 50px;
    border: none;
    background-color: #AEE2FF;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline: none;
}

#timeLabel{
    margin-left: 10px;
}
#expired{
    margin-left: 10px;
}

#taskDuration{
    width: 70px;
    background-color: #AEE2FF;
    border-radius: 10px;
    padding: 5px;
    margin-left: 7px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

input::placeholder{
    color: #767F9E;
    opacity: 1;
    font-size: 20px;
}

input[type]{
    color: rgba(8, 21, 72, 0.902);
    font-size: 20px;
}

.addContainer{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #9FA1FF;
    box-shadow:  0px 1px 7px rgba(39, 37, 37, 0.674);
    max-width: 450px;
}

#addTask{
    height: 35px;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 3px;
    margin-right: 5px;
    background-color: #B5BAFF;
    border: none;
    border-radius: 4px;
}

#addTask:hover{
    cursor: pointer;
    background-color: #b5baff7e;
    border: none;
    border-radius: 5px;
}

.todoItem{
    display: flex;
    background-color: #D9F9DF;
    padding: 14px;
    width: auto;
    border-radius: 10px;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    box-shadow: 0px 2px 7px#262e4b89;
    opacity: 1s;
    transition: 1s ease;
}

#task-list{
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.task.completed p{
    text-decoration: line-through;
    color: #9FA1FF;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    color: #262e4b;
    cursor: pointer;
}

li{
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task input{
    padding: 20px;
    border: none;
    margin-left: 10px;
}
#empty{
    max-width: 500px;
    height: 200px;
    margin: 0 40px;
    margin-left: 67px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}